<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minisea.cookbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.minisea.customui.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.minisea.customui.ui.RadarActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.minisea.customui.ui.CombinationlStatusActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.minisea.customui.ui.WindowsCopyResStyleProgressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.minisea.customui.ui.WaterProgressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.minisea.customui.ui.RotatingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_rotating"
            android:theme="@style/FullscreenTheme" >
        </activity>
        
        <service android:name="com.zdp.aseo.content.AseoZdpUpdateService" />
        <service 
            android:name="com.iflytek.voiceads.update.DownloadService"/>
		<activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait" />
        <meta-data  android:name="IFLYTEK_APPKEY_AD" android:value="55c03cd4"/>
    </application>

</manifest>
